

.matterContainer{
    margin-top: 3%;
}

.caseDetails{
   /* margin-top: 5%; */
    background-color: rgba(232, 235, 239);
    border-radius: 5px;
    width: 100%;
}

.caseDetailsHover{
   /* margin-top: 5%; */
    background-color: rgb(217, 219, 223);
    border-radius: 5px;
    width: 100%;
}


.Calendar{
    float: right;
    width: 60%;
    margin: 5%;
    padding-top: 5%;
    position: sticky;
    top: 0;
}

.Accordian {
    margin-top: 2%;
}

.addDeadline{
    float: right;
}

.deadlineTextBoxes{
    width: 500px;
}

/* .bottomDrawer{
    transform: translate(20%, 30%);
    margin-bottom: 15%;
    margin-left: 15%;

} */

.drawerFields{
    width: 40%;
}

.drawerContainer{
    margin-left: 15%; 
    margin-right: 25%;
    margin-bottom: 2%;
}

.drawerContent{
    margin-left: 15%;
}

.copilotHeader{
    margin-left: auto;
}

/* .milestoneHeader{
    margin-top: 10%;
    float: left;
    margin-left: 5%;
}

.milestones{
    margin-top: 15%;
    margin-left: 5%;
    width: 15%;
    float: left;
} */

.milestoneHeader{
    margin-left: 5%;
}

.milestones-container{
    margin-top: 10%;
    width: 30%;
    float: left;
}

