

.matterContainer{
    margin-top: 3%;
}
.caseDetails{
   /* margin-top: 5%; */
    background-color: rgba(232, 235, 239);
    border-radius: 5px;

}

.caseDetailsHover{
   /* margin-top: 5%; */
    background-color: rgb(217, 219, 223);
    border-radius: 5px;
   
}

.test{
    display: flex;
    flex-direction: row-reverse;
}


